<div class="aligncenter twelve columns" >
  <div class="soup"><%= link_to 'Sign Up', new_user_registration_path, class: "large button" unless user_signed_in? %></div>

  <% if user_signed_in? %>

    <div class="soup"><%= link_to 'Request Soup', new_request_path, class: "large button" %></div>
    <div class="soup"><%= link_to 'Fulfill a Soup Request', requests_path, class: "large button" %></div>
  <% end %>
</div>
