<p>
  <%= simple_form_for @request do |f| %>
    <%= f.input :soup, collection: ['Dumpling Soup', 'Hot and Sour Soup'], as: :radio_buttons %>
    <%= f.button :submit, 'Submit Request' %>
  <% end %>
</p>