<div class="small-12 large-8 small-centered large-centered column aligncenter">
<h1>Make Your Soup Selection</h1>
  <div class="soup"><%= button_to 'Hot and Sour Soup', requests_path(soup: 'Hot and Sour Soup'), class: "large button" %></div>
  <div class="soup"><%= button_to 'Dumpling Soup', requests_path(soup: 'Dumpling Soup'), class: "large button" %></div>
</div>
