.input  {
  display: inline-block;
}

.top-bar-section li {
  margin-left: 10px;
  margin-right: 10px;
}

.sign-in-button {
  margin-left: 10px;
}

.body-nav {
  margin-top: 100px;
  text-align: center;
}

.dumpling-nav {
  margin-top: 60px;
  margin-left: 43%;
  text-align: left;
}

.dumpling-header {
  margin-top: 100px;
  margin-left: 43%;
}

.aligncenter {
  text-align: center;
}

.dumpling-table {
  margin-top: 50px;
  margin-left: 5%;
}


body {
  background-image: url("dumpling_kings.jpg");
  background-position: top;
  background-size: 3000px 2000px;
}
