.input  {
  display: inline-block;
}

.top-bar-section li {
  margin-left: 10px;
  margin-right: 10px;
}

.sign-in-button {
  margin-left: 10px;
}

.body-nav {
  margin-top: 100px;
  text-align: center;
}

.dumpling-nav {
  margin-top: 60px;
  margin-left: 40px;
  text-align: left;
}

.dumpling-header {
  margin-top: 100px;
  margin-left: 43%;
}

.aligncenter {
  text-align: center;
}

.dumpling-table {
  margin-top: 50px;
  margin-left: 5%;
}

.soup {
  margin-top: 60px;
  margin-bottom: 40px;
}

body {
  background-image: url("http://farm3.staticflickr.com/2815/11914572603_92a85e0ca8_o.png");
}
